<!DOCTYPE html>
<html lang="ru-ru">

<head>


    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1" name="viewport"> -->
    <meta name="viewport" content="width=1200px">
    <title>Избранное</title>

     
     
    <style>
                :root {

            --mainSchemeColor: #804C3E;

            /* color element */
            --mainContrastSchemeColor: #3584a4;
            /* hover to element */
            --mainContrastSchemeColor-darken10: #052f3f;

            --catalogTitleColor: #333;

            --mainSchemeColorHover: #1a791f;
            --mainContrastSchemeColorHover: #f5946b;

            --menuBorderDarken: #7b4739;

            --mainSchemeColor-darken10: #764234;
            --mainSchemeColor-darken20: #6c382a;
            --mainSchemeColor-darken30: #622e20;
            --mainSchemeColor-lighten10: #8a5648;
            --mainSchemeColor-lighten20: #946052;



            --mainContrastSchemeColor-darken20: #eb8a61;
            --mainContrastSchemeColor-darken30: #e18057;
            --mainContrastSchemeColor-lighten10: #ffa87f;
            --mainContrastSchemeColor-lighten20: #ffb289;
        }

        div>a>span{
            background-color: var(--mainContrastSchemeColor);
            color: white;
            padding: 4px;
            border-radius: 5px;
        }

        div>a>span:hover{
            background-color: var(--mainContrastSchemeColor-darken10);
        }

        .link_btn{
            background-color: var(--mainContrastSchemeColor);
            padding: 4px;
            border-radius: 5px;
        }
        .link_btn:hover{
            background-color: var(--mainContrastSchemeColor-darken10);
        }
    </style>

    <style>
        .btnf {
            display: inline-block;
        }
    </style>

    <link href="http://new15942715563356.myaddshop.ru/css/shop/themes/base/style.css?ver=1691644398" rel="stylesheet"
        type="text/css">
    <link href="http://new15942715563356.myaddshop.ru/css/shop/themes/templates/michigan.css?ver=1691644398"
        rel="stylesheet" type="text/css">
    <link href="http://new15942715563356.myaddshop.ru/css/shop/mobile.css?ver=1691644398" rel="stylesheet"
        type="text/css" media="(max-width: 1366px)">

    <script>
        window.shop_currency = 'руб.';
        window.shop_id = '1010';
        window.customer_discount = '';
        window.template_class = 'michigan';
        window.item_img_zoom = '0';
        window.promo_discount = null;
        window.promo_title = null;
        window.one_click_buy = 1;
    </script> <!-- gsc start -->


</head>

<body class=" michigan  rate_1 shop_1010" data-template="michigan" data-color-scheme="spicy">
    <div class="wrapper">

        <header>
            <div class="header-top">
                <div class="inner">
                    <div class="email-wrapper">
                        <a href="mailto:{{ .Email}}">{{ .Email}}</a>
                    </div>

                    <div class="phone">
                        <a href="tel:{{ .Phone}}">{{ .Phone}}</a>
                    </div>

                    <div class="login_or_reg">
                        {{if .IsLogin}}
                        <a>Пользователь:{{ .NameLogin }}</a>
                        <hr>
                        <a class="link_btn" href="/out">Выход</a>
                        {{else}}
                        <a class="link_btn" href="/login">Вход</a>
                        <hr>
                        <a class="link_btn"  href="/registration">Регистрация</a>
                        {{end}}
                        {{if .IsAdmin}}
                        <hr>
                        <a class="link_btn" href="/cms">cms</a>
                        {{end}}
                    </div>
                </div>
            </div>

            <div class="header-middle">
                <div class="inner">
                    <div class="header-middle-left">
                        <div class="logo_wrapper">
                            <a href="/home" class="logo">
                                <img src="{{ .Path_logo_company}}" srcset="{{ .Path_logo_company}} 2x"
                                    alt="{{ .Company_name}}" width="250px" height="70px" />
                            </a>
                        </div>
                        <div class="slogan">{{ .Location_office}}</div>
                    </div>
                    <div class="search_form">
                        <!-- FART ORDER  -->

                        <form action="/fast_mail">
                            <button style="width: 100%;" type="submit">Написать письмо*</button>
                        </form>

                        <br>

                        <form method="GET" action="/search">
                            <input type="text" name="search" id="search" required="required" placeholder="Найти товар"
                                autocomplete="off" autofocus value="" />
                            <button type="submit">Поиск</button>
                            <div id="autocomplete"></div>
                        </form>
                    </div>
                    <div class="header-middle-right">
                        <div class="search_open bars" title="Поиск по товарам">
                            <i data-feather="search"></i>
                            <span>Поиск</span>
                        </div>
                        {{if .IsLogin}}
                        <div class="orders bars" title="Избранное">
                            <a href="/orders">
                                 
                                <span>Редактор</span>
                            </a>
                        </div>
                        <div class="favorite bars">
                            <a href="/favorites">
                                 
                                <span>Избранное</span>
                            </a>
                        </div>
                        <div class="favorite bars">
                            <a href="/orders_history">
                                 
                                <span>История</span>
                            </a>
                        </div>
                        {{end}}

                        <!-- <div class="basket bars" title="Избранное товаров">
                            <a href="/home">
                                <i data-feather="shopping-bag"></i>
                                <span>Избранное</span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="header-bottom">
                <div class="inner">
                    {{ .PageMenuTemplHtml }}
                </div>
            </div>

            <div>
                <hr>
            </div>
    </div>
    </header>
    <main>
        <div class="block main">
            <div class="inner">

                <div class="content  nositebar  ">

                    <div class="breadcrumb">
                        <span><a href="/home">Главная</a> / </span>
                        <span>Избранное</span>
                    </div>
                    <h1 class="shop-title">Избранное</h1>
                    <div class="promo-descr"></div>
                    <div id="basket_list"></div>



                    <ul>
                        <li>
                            <font-size=”15″ face=”Times New Roman”>
                                <table border="1" width="100%" style="background-color: rgb(207, 231, 232)">
                                    <tr style="background-color: rgb(207, 231, 232);">
                                        <th>Изображение</th>
                                        <th>Наименование</th>
                                        <th>Цена</th>
                                    </tr>
                                    </font>


                                    <font-size=”10″ face=”Calibri”>
                                        {{ range .FavoritesCards }}
                                            <td><img src="{{ .Link }}" height="100%" width="100%"></td>
                                            <td>{{ .Autor }}{{ .Title }}</td>

                                            <td>{{ .Price }}</td>
                                            <td>
                                                <center>
                                                    <label>Номер заказа</label>
                                                    <br>
                                                    <input type="number" name="" placeholder="Число больше 0" required="required"
                                                        id="{{.TargetHash}}" value="1" min="1" max="99999999999999" required="required">

                                                    <br>
                                                    <label>Количество шт./экз.</label>
                                                    <br>

                                                    <input type="number" name="" placeholder="Число больше 0"
                                                        id="{{.Link}}" value="1" min="1" max="99999999999999">
                                                    <br>
                                                    <br>
                                                    <div>
                                                        <a class="more" style="padding:10px; background-color:var(--mainContrastSchemeColor);"
                                                            onclick="if (confirm('Добавить '+document.getElementById('{{.Link}}').value+' шт/экз. в\nтаблицу заказа №'+document.getElementById('{{.TargetHash}}').value+' ?')) href='/add_orders/{{.TargetHash}}/'+document.getElementById('{{.TargetHash}}').value+'/'+document.getElementById('{{.Link}}').value;">Добавить в заказ</a>
                                                            <!-- onclick="href='/add_orders/{{.TargetHash}}/'+document.getElementById('{{.TargetHash}}').value+'/'+document.getElementById('{{.Link}}').value;">В
                                                            заказ</a> -->
                                                    </div>

                                                    <br>

                                                    <hr size="1" color="black">

                                                    <br>

                                                    <div>
                                                        <a class="more" style="padding:10px; background-color:var(--mainContrastSchemeColor);"
                                                            onclick="if (confirm('Удалить `{{.Title}}` из\nтаблицы избранного?')) href='/delete_favorites/{{ .TargetHash }}';">Удалить</a>
                                                        
                                                    </div>


                                                </center>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="background-color: #333;"></td>
                                            <td style="background-color: #333;"></td>
                                            <td style="background-color: #333;"></td>
                                            <td style="background-color: #333;"></td>
                                        </tr>

                                        {{ end }}
                                        </font>

                                </table>
                                <hr style="border: #333; border-width: 3;">
                        </li>
                        <div>
                            <p> </p>
                        </div>

                        <hr>
                        <br>
                    </ul>

                </div>

            </div>
        </div>
    </main>
    </div>
    <footer class="block">
        <div class="top">
            <div class="inner">
                <div class="fmenu">
                    <div class="logo_wrapper">
                        <a class="logo" href="/home">
                            <img src="{{ .Path_logo_company}}" alt="Мир книг" />
                        </a>
                    </div>
                    <div class="copyright">&copy;
                        {{ .Copyright}}</div>

                </div>
            </div>

        </div>

        </div>
        </div>
        </div>
    </footer>

     
    <!-- 11 ms -->
</body>

</html>