<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="книги, купить книгу, книга цена, каталог книг, книги недорого, магазин книг" />
    <meta name="description"
        content="{{ .Location_office}} - интернет-магазин, который занимается продажей и доставкой книг от известных крупнейших поставщиков." />
    <!-- <meta content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1" name="viewport"> -->
    <meta name="viewport" content="width=1200px">
    <title>Главная</title>

     
     
    <style>
                :root {

            --mainSchemeColor: #804C3E;

            /* color element */
            --mainContrastSchemeColor: #3584a4;
            /* hover to element */
            --mainContrastSchemeColor-darken10: #052f3f;

            --catalogTitleColor: #333;

            --mainSchemeColorHover: #1a791f;
            --mainContrastSchemeColorHover: #f5946b;

            --menuBorderDarken: #7b4739;

            --mainSchemeColor-darken10: #764234;
            --mainSchemeColor-darken20: #6c382a;
            --mainSchemeColor-darken30: #622e20;
            --mainSchemeColor-lighten10: #8a5648;
            --mainSchemeColor-lighten20: #946052;



            --mainContrastSchemeColor-darken20: #eb8a61;
            --mainContrastSchemeColor-darken30: #e18057;
            --mainContrastSchemeColor-lighten10: #ffa87f;
            --mainContrastSchemeColor-lighten20: #ffb289;
        }

        div>a>span{
            background-color: var(--mainContrastSchemeColor);
            color: white;
            padding: 4px;
            border-radius: 5px;
        }

        div>a>span:hover{
            background-color: var(--mainContrastSchemeColor-darken10);
        }

        .link_btn{
            background-color: var(--mainContrastSchemeColor);
            padding: 4px;
            border-radius: 5px;
        }
        .link_btn:hover{
            background-color: var(--mainContrastSchemeColor-darken10);
        }

 

    </style>

    <link href="http://new15942715563356.myaddshop.ru/css/shop/themes/base/style.css?ver=1691644398" rel="stylesheet"
        type="text/css">
    <link href="http://new15942715563356.myaddshop.ru/css/shop/themes/templates/michigan.css?ver=1691644398"
        rel="stylesheet" type="text/css">
    <link href="http://new15942715563356.myaddshop.ru/css/shop/mobile.css?ver=1691644398" rel="stylesheet"
        type="text/css" media="(max-width: 1366px)">

    <script>
        window.shop_currency = 'руб.';
        window.shop_id = '1010';
        window.customer_discount = '';
        window.template_class = 'ryazan';
        window.item_img_zoom = '0';
        window.promo_discount = null;
        window.promo_title = null;
        window.one_click_buy = 1;
    </script>

</head>

<body class=" michigan main_page rate_1 shop_1010" data-template="michigan" data-color-scheme="spicy">
    <div class="wrapper">

        <header>
            <div class="header-top">
                <div class="inner">
                    <div class="email-wrapper">
                        <a href="mailto:{{ .Email}}">{{.Email}}</a>
                    </div>

                    <div class="phone">
                        <a href="tel:{{.Phone}}">{{.Phone}}</a>
                    </div>

                    <div class="login_or_reg">
                        {{if .IsLogin}}
                        <a>Пользователь:{{ .NameLogin }}</a>
                        <hr>
                        <a class="link_btn" href="/out">Выход</a>
                        {{else}}
                        <a class="link_btn" href="/login">Вход</a>
                        <hr>
                        <a class="link_btn"  href="/registration">Регистрация</a>
                        {{end}}
                        {{if .IsAdmin}}
                        <hr>
                        <a class="link_btn" href="/cms">cms</a>
                        {{end}}
                    </div>
                </div>



            </div>

            <div class="header-middle">
                <div class="inner">
                    <div class="header-middle-left">
                        <div class="logo_wrapper">
                            <a href="/home" class="logo">
                                <img src="{{ .Path_logo_company}}" srcset="{{ .Path_logo_company}} 2x"
                                    alt="{{ .Company_name}}" width="250px" height="70px" />
                            </a>
                        </div>
                        <div class="slogan">{{ .Location_office }}</div>
                    </div>
                    <div class="search_form">

                        <form action="/fast_mail">
                            <button style="width: 100%;" type="submit">Написать письмо*</button>
                        </form>

                        <br>


                        <form method="GET" action="/search">
                            <input type="text" name="search" id="search" placeholder="Найти товар"
                                autocomplete="off" autofocus value="{{.LastValueSearch}}"  />
                            <button type="submit">Поиск</button>
                            <div id="autocomplete"></div>
                        </form>
                    </div>

                    <div class="header-middle-right">
                        <div class="search_open bars" title="Поиск по товарам">
                            <i data-feather="search"></i>
                            <span>Поиск</span>
                        </div>



                        {{if .IsLogin}}
                         <div class="orders bars" title="Редактор">
                            <a href="/orders">
                                 
                                <span>Редактор</span>
                            </a>
                        </div>
                        <div class="favorite bars">
                            <a href="/favorites">
                                 
                                <span>Избранное</span>
                            </a>
                        </div>
                        <div class="orders_history bars">
                            <a href="/orders_history">
                                 
                                <span>Заказы</span>
                            </a>
                        </div>
                         
                        {{end}}


                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="header-bottom">
                <div class="inner">
                    {{ .PageMenuTemplHtml }}
                </div>
            </div>
            
            <div>
                <hr>
            </div>

        </header>
        <main>
            <div class="block main">
                <div class="inner">

                    <div class="content  ">
                        <img src="{{ .Path_banner_home}}" class="slider-image" width="1300px" loading="lazy">
                    </div>
                    <div class="item_content">
                        <div class="title">{{ .Text_banner}}</div>
                        <div class="descr">{{ .Description_banner}}</div>

                    </div>
                    <div class="content  ">
                        <img src="{{ .Path_banner_home_2}}" class="slider-image" width="1300px" loading="lazy">
                    </div>
                    <div class="item_content">
                        <div class="title">{{ .Text_banner}}</div>
                        <div class="descr">{{ .Description_banner}}</div>

                    </div>
                    <div class="content  ">
                        <img src="{{ .Path_banner_home_3}}" class="slider-image" width="1300px" loading="lazy">
                    </div>
                    <div class="item_content">
                        <div class="title">{{ .Text_banner}}</div>
                        <div class="descr">{{ .Description_banner}}</div>

                    </div>
                </div>
            </div>
    </div>
    </div>

    <hr>



    <div class="items">

        {{ range .MenuMap }}
        <div class="item">

            <div class="image">
                <div class="bg_dark"></div>
                <img src="{{ .Link}}" alt="{{ .Title }}" data-switch="0" width="250px" height="250px" loading="lazy" />
                <img src="{{ .Link}}" alt="{{ .Title }}" data-switch="1" style="display: none;" width="250px"
                    height="250px" />

                <a href="{{ .PathTo }}"></a>
            </div>
            <div>
                <center>
                    <h4>{{.Title}}</h4>
                </center>
            </div>
        </div>
        {{ end }}
    </div>
    </div>
    </div>
    </div>
    </main>
    </div>

    <footer class="block">
        <div class="top">
            <div class="inner">
                <div class="fmenu">
                    <div class="logo_wrapper">
                        <a class="logo" href="/home">
                            <img src="{{.Path_logo_company}}" alt="{{ .Company_name}}" />
                        </a>
                    </div>
                    <!-- <div class="social">
                        <a target="_blank" href="https://vk.com/magazin_rzn" class="link_vk"></a>
                        <a target="_blank" href="https://vk.com/magazin_rzn" class="link_vk"></a>
                        <a target="_blank" href="https://vk.com/magazin_rzn" class="link_vk"></a>
                        <a target="_blank" href="https://vk.com/magazin_rzn" class="link_vk"></a>
                        <a target="_blank" href="https://vk.com/magazin_rzn" class="link_vk"></a>
                    </div> -->
                    <div class="copyright">&copy;
                        {{ .Copyright}}
                    </div>
                </div>
            </div>




        </div>
        </div>
        </div>
    </footer>
</body>

</html>