<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Settings</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/settings.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='scripts/settings.js') }}"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="container rounded bg-white mt-5 mb-5">

		<div class="settings-head-container">
			<h1>Настройки</h1>
		</div>
		<hr>

		<form class="mt-5 text-center" action="/settings_apply" method="POST">

			<div class="row">
				<div class="col-md-3 border-right">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Фото профиля</h4>
						</div>
						<div class="profile-pic-wrapper">
							<div class="pic-holder">
								<!-- uploaded pic shown here -->
								<!-- default = "https://png.pngtree.com/thumb_back/fh260/background/20230612/pngtree-in-the-style-of-2d-game-art-image_2884743.jpg" -->

								<img id="profilePic" class="pic"
									src="{{ settings.dict_settings_values['settings_profile_pic'] }}">

								<Input class="uploadProfileInput" type="file" id="newProfilePhoto" style="opacity: 0;"
									value="{{ settings.dict_settings_values['settings_profile_pic'] }}" />
								<!-- accept="image/*"  -->
								<label for="newProfilePhoto" class="upload-file-block">
									<div class="text-center">
										<div class="mb-2">
											<i class="fa fa-camera fa-2x"></i>
										</div>
									</div>
								</label>
							</div>
							<p class="text-info text-center small">Для изменения изображения укажите ссылку</p>
							<div class="col-md-12"><input type="text" class="form-control" placeholder="path image"
									name="settings_profile_pic"
									value="{{ settings.dict_settings_values['settings_profile_pic'] }}">
							</div>
						</div>

						<hr>

						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Авторизация</h4>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ЛОГИН</label><input type="text"
									class="form-control" placeholder="first name" name="settings_auth_login"
									value="{{ settings.dict_settings_values['settings_auth_login'] }}">
							</div>
							<div class="col-md-12"><label class="labels">ПАРОЛЬ</label><input type="password"
									class="form-control" placeholder="first name" name="settings_auth_password"
									value="{{ settings.dict_settings_values['settings_auth_password'] }}">
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-5 border-right">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Параметры сайта</h4>
						</div>
						<div class="row mt-2">
							<div class="col-md-6"><label class="labels">НАДБАВКА (%)</label><input type="text"
									class="form-control" placeholder="first name" name="percent_plus_price"
									value="{{ settings.dict_settings_values['percent_plus_price'] }}"></div>

							<div class="col-md-6"><label class="labels">НАДБАВКА (+)</label><input type="text"
									class="form-control" value="{{ settings.dict_settings_values['num_plus_price'] }}"
									placeholder="surname" name="num_plus_price"> </div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ПЕРИОД ПАРСИГА</label><input type="text"
									class="form-control" placeholder="enter email name" name="period_parsing"
									value="{{ settings.dict_settings_values['period_parsing'] }}"></div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">КОЛ-ВО КАРТОЧЕК НА СТРАНИЦУ</label><input
									type="text" class="form-control" placeholder="country" name="count_cards_in_page"
									value="{{ settings.dict_settings_values['count_cards_in_page'] }}"></div>
							<!-- <div class="col-md-6"><label class="labels"></label><input type="text" class="form-control" value="" placeholder="test"></div> -->
						</div>

						<!-- <hr>
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Категории товаров</h4>
						</div>
						<div class="checkbox-wrapper-10">
							<p>ПРОДУКТЫ</p>
							<input class="tgl tgl-flip" id="a1" type="checkbox" name="settings_check_gadgets" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="a1"></label>
							
							<p>ПРОЧЕЕ</p>
							<input class="tgl tgl-flip" id="a5" type="checkbox" name="settings_check_other" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="a5"></label>

							<p>АКЦИИ</p>
							<input class="tgl tgl-flip" id="a6" type="checkbox" name="settings_check_sales" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="a6"></label>
						</div>

						<hr>
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Страницы сайта</h4>
						</div>
						<div class="checkbox-wrapper-10">
							<p>профиль</p>
							<input class="tgl tgl-flip" id="b1" type="checkbox" name="settings_check_profile" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="b1"></label>

							<p>корзина</p>
							<input class="tgl tgl-flip" id="b2" type="checkbox" name="settings_check_trash" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="b2"></label>

							<p>заказы</p>
							<input class="tgl tgl-flip" id="b3" type="checkbox" name="settings_check_orders" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="b3"></label>

							<p>поддержка</p>
							<input class="tgl tgl-flip" id="b4" type="checkbox" name="settings_check_support" checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="b4"></label>

							<p>настройки</p>
							<input class="tgl tgl-flip" id="b5" type="checkbox" name="settings_check_settings"
								checked />
							<label class="tgl-btn" data-tg-off="off" data-tg-on="on" for="b5"></label>
						</div> -->

					</div>
				</div>
				<div class="col-md-4">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Данные о пользователе</h4>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ИМЯ</label><input type="text"
									class="form-control" placeholder="enter email name" name="settings_name_user"
									value="{{ settings.dict_settings_values['settings_name_user'] }}">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ФАМИЛИЯ</label><input type="text"
									class="form-control" placeholder="settings_family_user" name="settings_family_user"
									value="{{ settings.dict_settings_values['settings_family_user'] }}">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ГОД РОЖДЕНИЯ</label><input type="text"
									class="form-control" placeholder="settings_birthday_user"
									name="settings_birthday_user"
									value="{{ settings.dict_settings_values['settings_birthday_user'] }}">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">НОМЕР ТЕЛЕФОНА</label><input type="text"
									class="form-control" placeholder="settings_phone_user" name="settings_phone_user"
									value="{{ settings.dict_settings_values['settings_phone_user'] }}"></div>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ЭЛЕКТРОННАЯ ПОЧТА</label><input type="text"
									class="form-control" placeholder="settings_enail_user" name="settings_enail_user"
									value="{{ settings.dict_settings_values['settings_enail_user'] }}"></div>
						</div>

						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">ТЕЛЕГРАММ ССЫЛКА</label><input type="text"
									class="form-control" placeholder="settings_telegram_user"
									name="settings_telegram_user"
									value="{{ settings.dict_settings_values['settings_telegram_user'] }}"></div>
						</div>

						<div class="col-md-3"><label class="labels">СТАТУС</label><input type="text"
								class="form-control" placeholder="settings_status_user" name="settings_status_user"
								value="{{ settings.dict_settings_values['settings_status_user'] }}">
						</div>

					</div>
				</div>
			</div>
			<hr>

			<input class="btn btn-primary profile-button" type="submit" value="ПРИМЕНИТЬ ПАРАМЕТРЫ" />
			<br>
			<div class="div-horizontal">

				<div class="div-horizontal">
					<form action="/">
						<input class="btn btn-primary btn-horizontal" type="submit" value="ГЛАВНАЯ" />
					</form>
					<form action="/profile">
						<input class="btn btn-primary btn-horizontal" type="submit" value="ПРОФИЛЬ" />
					</form>
				</div>

				<div class="div-horizontal">
					<form action="/orders">
						<input class="btn btn-primary btn-horizontal" type="submit" value="ЗАКАЗЫ" />
					</form>
					<form action="/exit">
						<input class="btn btn-primary btn-horizontal" type="submit" value="ВЫХОД" />
					</form>
				</div>
			</div>

		</form>

	</div>
	</div>
	</div>

</body>

</html>