
<div class="item" data-discount-type="percent" data-discount="0.00" data-code="60797">

    <div class="image">
        <div class="bg_dark"></div>
        <img src="http://new15942715563356.myaddshop.ru/img/250x250/1010/items/2_1594279653.png"
            alt="Шкаф Бланка 2" data-switch="0" width="250px" height="250px"
            loading="lazy" />
        <img src="http://new15942715563356.myaddshop.ru/img/250x250/1010/items/2_1_1594279656.png"
            alt="Шкаф Бланка 2" data-switch="1" style="display: none;" width="250px"
            height="250px" />

        <a href=" "></a>
    </div>
    <div class="item_content " data-discount="0.00">
        <a href=" "
            class="descr">Шкаф Бланка 2</a>
        <div class="short_descr">Четырехдверный шкаф из коллекции Бланка вместительная и
            эффектная система хранения.</div>

        <div class="item_price_big">
            <span class="new">10350.00 руб.</span>
        </div>

        <a class="more"
            href=" ">Купить</a>
    </div>
</div>